.header {
	overflow: hidden;
	background-color: #fff;
	padding: 5px 40px;
}

.header a {
	float: left;
	color: #eb514e;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header .logo img {
	height: 30px;
}

.header-right {
	float: right;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header .logo {
		text-align: center;
	}
	.header-right {
		float: none;
	}
}
